p
{
    font-style:normal;
    font-family:Helvetica, Times, serif;
}
span.a
{
    color: green;
    background-color: rgb(134, 236, 240);
}

.char1
{
    color:rgb(16, 56, 141);
}
.char2
{
    color: rgb(5, 117, 5);
}
#title
{
    color:rgb(128, 0, 28);
}
span.speech
{
    color: black;
}
#stagedirection
{
    color: rgb(255, 0, 170);
}
span.a:hover
{
    background-color: silver;
    color: black;
}
table{
    border: 2px solid black;
    width: 100%;
}
th {
    border: solid 1px ;
    background-color: rgb(169, 176, 177);
    padding: .3em;
    text-align: center;
    
}
tr:nth-child(odd)
{
    background-color: #bb08f1;
    text-align: center;
}
tr:nth-child(even)
{
    background-color: white;
    text-align: center;
}