p
{
    font-style:normal;
    font-family:Helvetica, Times, serif;
}
span.a
{
    color: green;
}

.char1
{
    color:rgb(16, 56, 141);
}
.char2
{
    color: rgb(5, 117, 5);
}
#title
{
    color:rgb(128, 0, 28);
}
span.speech
{
    color: black;
}
#stagedirection:hover
{ 
    background-color: maroon;
    color:yellowgreen;
}
#stagedirection
{
    background-color: black;
    color: white;
}
span.a
{
    color: rgb(255, 0, 170);
}